<ul class="nav-main">
  {% set count_seven = 1 %}
  {% for item in seventh_column.items %}

    <li
      class="header-dropdown-item nav-main-item {{ item.classes|join(' ') }}">

      <a data-current="{{ seventh_column.title|replace({' ': ''})|lower }}" data-open="{{ item.slug }}"
         class="nav-main-link"
         href="{{ item.link }}" {% if item._menu_item_target %}target="{{ item._menu_item_target }}"{% endif %}>{{ item.title }}</a>

    </li>
    {% set count_seven = count_seven + 1 %}
  {% endfor %}
</ul>
